html {
    background: #1863ec;
    background-size: cover;
     
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    min-width: 100vh;
    
}

.relogio {
    width: 25rem;
    height: 25rem;
    border: 15px solid white;
    border-radius: 50%;
    position: relative;
    padding: 1rem;       
}

.relogio__mostrador {
    position: relative;
    width: 100%;
    height: 100%;
   
       
}

.ponteiro {
    width: 50%;
    height: 10px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.1s;
    
}


